.containerForLoader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.loader {
	--dim: 150px;
	width: var(--dim);
	height: var(--dim);
	border: 7px solid #2596be;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-radius: 50%;
	animation: spin_51 1.5s infinite linear;
}

@keyframes spin_51 {
from {
	transform: rotate(0)
}

to {
	transform: rotate(360deg)
}
}